log/*
.DS_Store
*/.DS_Store
public/system/files/avatars/1/*
tmp/
#.gitignore
#config/
#lib/tasks/archive.rake
README

#Remove the above comments when you are working with the correct (private) versions of those files