log/
*.DS_Store
tmp/
config/
public/system/files/avatars/
.gitignore
app/uploaders/
lib/tasks/archive.rake
npm-debug.log
public/javascripts/three.min.js
public/stream/
public/uploads/
vendor/cache/carrierwave-0.5.8.gem