log/*
.DS_Store
*/.DS_Store
public/system/files/avatars/1/*
tmp/
config/database.yml
config/deploy.rb
.gitignore
config/.amazonrc
config/lastfm.yml
config/newrelic.yml
config/database.yml
config/deploy.rb
config/initializers/twitter.rb
config/initializers/omniauth.rb
config/initializers/recaptcha.rb
config/initializers/secret_token.rb
lib/tasks/archive.rake
README