$("#dashboard-content").append("<div id='saved' class='invisible' title='Program Saved'><p>Your program has been successfully saved. To view it, please click <a href='/programs/<%= @program.id %>'>here</a> <br/><br/><span class='standard'>*click dismiss to continue using your dashboard.</span></p></div>");
$("#saved").dialog({
	modal:true,
	buttons: { "Dismiss": function() { $(this).dialog("close"); } }
});
$("input[type='submit']").attr("disabled", true).val("Saved!");
$("#dashboard-content").dialog('open')