#application-body {
    display:block;
    margin-top:100px;
    background-color:#ffffff;  
    padding-bottom:50px;
}

#application-body h1 {
    font-size:24pt;
    color:#ffffff;
    background-color:#000000;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
}

#error-message {
    font-size:16px;
    background-color:#ff0000;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
}

#submit {
    width:200px;
    color:#000000;
    font-size:14pt;
}

.container {
    margin-left:20px;
}

.header-fields {
    display:block;
    margin-left:20px;
    padding-top:20px;
    padding-bottom:20px;
}

.input-field {
    display:table-cell;
    padding-right:20px;
}

.input-field label {
    font-size:16pt;
}

.input-field input {
    max-width: 500px;
    background-color:#f5f5f5;
}

.main-body {
    display:block;
    margin-left:125px;
}

.input-area {
    padding-top:20px;
    padding-bottom:20px;
}

.input-area label {
    font-size:16pt;
}

.input-area textarea {
    width:800px;
    height:200px;
    max-width:800px;
    background-color:#f5f5f5;
}

.field_with_errors{
    padding: 2px;
    background-color: red;
    border:1px solid red;
    border-radius:5px;
    display: table;

}
