$("#home-content").append("<div id='saved' class='invisible' title='Profile Saved'><p>Your profile has been successfully updated.</p></div>");
$("#saved").dialog({
	modal:true,
	buttons: { "Dismiss": function() { $(this).dialog("close"); } }
});
$("input[type='submit']").attr("disabled", true).val("Saved!");
$("#dashboard-content").dialog('open')