$("#dashboard-content").append("<div id='saved' class='invisible' title='There was a problem'><p>There was a problem owning this download:<ul><% @download.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %></ul></p></div>");
$("#saved").dialog({
	modal:true,
	buttons: { "Dismiss": function() { $(this).dialog("close"); } }
});
$("#dashboard-content").dialog('open');