$("#dashboard-content").append("<div id='saved' class='invisible' title='User Created!'><p>You have successfully created a new user, please click <a href='/users/<%= @user.id %>'>here</a> to view their profile.<br/><br/><span class='standard'>*click dismiss to continue using your dashboard.</span></p></div>");
$("#saved").dialog({
	modal:true,
	buttons: { "Dismiss": function() { $(this).dialog("close"); } }
});
$("input[type='submit']").attr("disabled", true).val("Saved!");
$("#dashboard-content").dialog('open')