<div id="four-oh-four">
	<img src="/images/404.jpg" alt="404 Err!" />
	<div class="message">
		<span class="dejavu-condensed"><span class="dejavu-book twenty-pt blue-text">Aww Crap!</span><br/> <br/> <span class="twelve-pt white-text">We couldn't find it, or this damn thing broke again... Please try refreshing the page, or emailing <a class="yellow-text" title="E-Mail the KPSU Web Director: admin@kpsu.org" href="mailto:admin@kpsu.org?subject=404_error">admin@kpsu.org</a> if the error persists.</span></span>
	</div>
</div>