<style type="text/css">

#post-wrapper {
   	width:570px;
}

#post-wrapper .post {
	margin-left:10px;
	width:560px;
	height:400px;
}

</style>

<div id="post-wrapper">
	<div class="post">
		<div class="m1-thin extra-large">New Post</div>
		
		<%= render 'form' %>
		
	</div>
</div>