<div class="formatting-content invisible">
	<span class="dejavu-condensed twelve-pt">Text goes between the tags</span><br/><span class="standard">Examples <br/>[b]This text would be bold[/b]<br/>[youtube]http://youtube.com/video/link?121212[/youtube]<br/>
		
		[img=http://www.kpsu.org/files/mypicture.png]<br/><br/>
	<ul class="vertical text-styling float-left">
		<li class="text-styling bebas green-text">Text Styling</li>
		<li class="vertical dejavu-condensed">[b] [/b]               bold</li>
		<li class="vertical dejavu-condensed">[i] [/i]              italics</li>
		<li class="vertical dejavu-condensed">[u] [/u]              underline</li>
		<li class="vertical dejavu-condensed">[s] [/s]              strikeout</li>
		<li class="vertical dejavu-condensed">[size] [/size]           size</li>
	</ul>
	<ul class="vertical text-formatting dejavu-condensed float-left">
		<li class="text-formatting bebas green-text">Text Formatting</li>
		<li class="vertical dejavu-condensed">[ol] [/ol]             orderedlist</li>
		<li class="vertical dejavu-condensed">[ul] [/ul]             unorderedlist</li>
		<li class="vertical dejavu-condensed">[li] [/li]             listitem</li>
		<li class="vertical dejavu-condensed">[*] [*]              listitem</li>
		<li class="vertical dejavu-condensed">[list] [/list]           listitem</li>
		<li class="vertical dejavu-condensed">[list=1] [/list]         listitem</li>
		<li class="vertical dejavu-condensed">[list=a] [/list]         listitem</li>
		<li class="vertical dejavu-condensed">[quote] [/quote]           quote</li>
		<li class="vertical dejavu-condensed">[quote=source]    quote</li>
	</ul>
	<ul class="vertical links-embedding float-left">
		<li class="vertical links-embedding bebas green-text">Links/Embedding</li>
		<li class="vertical dejavu-condensed">[url=link] Link Text [/url]        link</li>
		<li class="vertical dejavu-condensed">[url] [/url]            link</li>
		<li class="vertical dejavu-condensed">[img size=] Image link [/img]      image</li>
		<li class="vertical dejavu-condensed">[img=link]            image</li>
		<li class="vertical dejavu-condensed">[img]             image</li>
		<li class="vertical dejavu-condensed">[youtube] Youtube Link [/youtube]        video</li>
		<li class="vertical dejavu-condensed">[vimeo] Vimeo link [/vimeo]          video</li>
		<li class="vertical dejavu-condensed">[email] [/email]          email</li>
	</ul>
	<div style="margin:10px"class="float-left clear-both">
	<span class="dejavu-condensed twelve-pt">To use predefined colors, you need to use HTML and add a class with the color name, followed by the word text. The examples below add the class to a <i>span</i> element, but you can add it to any element. <br/><br/>Example<br/><br/> &lt;p&gt; class="blue-text" &lt;p&gt; <br/>or<br/> &lt;a href="magenta-text" class="magenta-text"&lt; Link &lt;a&gt;<br/><br/> HTML is easy to learn and highly useful, all you need is a simple text editor. The W3 Schools is a great place to start: <a title="W3 Schools Introduction to HTML" class="magenta-text" href="http://www.w3schools.com/html/html_intro.asp">HTML Intro</a></span><br/>
	</div>
	<ul class="vertical colors float-left">
		<li class="vertical links-embedding bebas green-text">Colors</li>
		<li class="vertical dejavu-condensed">&lt;span class="blue-text"&gt; <span class="blue-text">Blue</span> &lt;/span&gt;</li>
		<li class="vertical dejavu-condensed">&lt;span class="purple-text"&gt; <span class="purple-text">Purple</span> &lt;/span&gt;</li>
		<li class="vertical dejavu-condensed">&lt;span class="green-text"&gt; <span class="green-text">Green</span> &lt;/span&gt;</li>
		<li class="vertical dejavu-condensed">&lt;span class="yellow-text"&gt; <span class="yellow-text">Yellow</span> &lt;/span&gt;</li>
		<li class="vertical dejavu-condensed">&lt;span class="magenta-text"&gt; <span class="magenta-text">Magenta</span> &lt;/span&gt;</li>
		<li class="vertical dejavu-condensed">&lt;span class="orange-text"&gt; <span class="orange-text">Orange</span> &lt;/span&gt;</li>
		<li class="vertical dejavu-condensed">&lt;span class="red-text"&gt; <span class="red-text">Red</span> &lt;/span&gt;</li>
		<li class="vertical dejavu-condensed">&lt;span class="white-text"&gt; <span class="white-text">White</span> &lt;/span&gt;</li>
		<li class="vertical dejavu-condensed">&lt;span class="black-text"&gt; <span class="black-text">Black</span> &lt;/span&gt;</li>
		
	</ul>
</div>