<style type="text/css"> 
	#pledge-featured-banner {
		float:left;
		margin-top:30px;
  		width:1044px;
  		height:527px;
  		
	}
</style>

<div id="pledge-featured-banner">
	<a href="https://www.foundation.pdx.edu/publicgift/kpsu.jsp">
		<img src="images/v3/pledge-featured-banner.png" />
	</a>
</div>