<style type="text/css"> 
	#pledge-banner {
		float:left;
  		width:1044px;
  		height:120px;
  		
	}
</style>

<div id="pledge-banner">
	<a href="https://www.foundation.pdx.edu/publicgift/kpsu.jsp">
		<img src="images/v3/pledge-top-banner.png" />
		
	</a>
</div>